html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-background);
  font-family: "Open Sans";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--color-grey-light-1)
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --color-primary: #2e9dff;
  --color-primary-light: #668cad;
  --color-primary-dark: #6a859c;
  --color-background: rgb(33, 35, 37);
  --color-background-secondary: rgb(24, 26, 27);

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #555;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --container-width: 70%;

  --default-font-size: 1.6rem;
  --link-font-size: 2rem;
}
