.header {
  color: var(--color-grey-light-1);
  height: 6rem;
  font-size: 1.6rem;
  text-transform: uppercase;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__welcome {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    color: var(--color-primary);
  }

  &__nav {
    display: flex;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__nav-item {
    padding: 0 3rem;
  }

  &__nav-link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-1);
  }
}

.video {
  position: relative;
  width: 100%;
  height: 30rem;
}

.about {
  &__content {
  }

  &__list {
    margin: 2rem 0 2rem 3rem;
    list-style: decimal;
  }

  &__list-item {
    font-size: 1.5rem;
  }
}

.projects {
  background-color: var(--color-background-secondary);

  &__card-container {
    display: flex;
    justify-content: space-between;
  }
}